version: '3.8'

services:
  database:
    image: postgres:16.10-alpine3.22
    container_name: tanya-luna-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
  kafka:
    image: bitnami/kafka:latest
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  zookeeper:
    image: bitnami/zookeeper:latest
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  # api-service:
  #   build: ./api-service
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     KAFKA_BROKERS: kafka:9092
  #   depends_on:
  #     - kafka

  # booking-service:
  #   build: ./booking-service
  #   ports:
  #     - "3001:3000"
  #   environment:
  #     KAFKA_BROKERS: kafka:9092
  #   depends_on:
  #     - kafka
volumes:
  postgres_data: